.active-info {
    background-color: #17a2b8;
    color: white;
}

   /* Custom CSS for input fields */
   .form-control {
    border: none; /* Remove default border */
    border-bottom: 1px solid #ced4da; /* Bottom border */
    border-radius: 0; /* No rounded corners */
    box-shadow: none; /* No box shadow */
    padding: 0.375rem 0.75rem; /* Padding adjustment */
}

/* Adjust focus state for input fields */
.form-control:focus {
    border-color: #007bff; /* Focus color */
    box-shadow: none; /* No box shadow on focus */
}
.login-container {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

